:root {
  --white: #f6f9ff;
  --primary-blue: #293264;
  --secondary-blue: #4d5b9e;
  --answer-selected: #d6dbf5;
  --answer-correct: #94d7a2;
  --answer-incorrect: #f8bcbc;
  --quizSet-border: #dbdef0;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.container-intro-page {
  height: 100%;
}

body {
  margin: 0;
  font-family: inter, karla, sans-serif;
  color: var(--primary-blue);
  background-color: var(--white);
}

body img {
  position: fixed;
}

body button {
  cursor: pointer;
}

.top-right-blob, .bot-left-blob {
  z-index: -10;
}

.top-right-blob {
  top: 0;
  right: 0;
}

.bot-left-blob {
  bottom: 0;
  left: 0;
}

/* Intro page */

.container-intro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.container-intro-page p {
  margin-block: 0.5em 1.75em;
}

h1 {
  font-family: karla, inter, sans-serif;
  font-size: 4rem;
  margin-bottom: 0;
}

/* Forms page */

.container-intro-page form {
  text-align: center;
}

.select-container {
  margin-block: 2em;
}

.container-intro-page select {
  font-family: inherit;
  color: var(--primary-blue);
  padding: 0.75em;
  box-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.4);
  width: 100%;
  font-size: 0.8rem;
}

.container-intro-page label {
  margin-right: 1em;
  font-weight: bold;
}

/* Main page */

main {
  text-align: center;
  padding-block: 1em;
  width: 80%;
  margin: 0 auto;
}

.container-quiz {
  border-bottom: 1px solid var(--quizSet-border);
  margin-bottom: 1.5em;
  text-align: left;
}

.container-quiz h2 {
  hyphens: auto;
}

.container-quiz section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.score-text {
  text-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}

/* Other Components */


.quiz-btn {
  font-family: inherit;
  color: var(--white);
  background-color: var(--secondary-blue);
  font-size: 1rem;
  padding: 1em 3em;
  border: none;
  border-radius: 15px;
}

.quiz-btn:hover, .answer-btn:hover {
  transform: scale(1.05);
}
.quiz-btn:hover {
  background-color: #242946;
  text-shadow: 0.1em 0.1em 0.4em rgba(0, 0, 0, 0.7);
  box-shadow: 0 0.6em 1em 0.1em rgba(11, 69, 243, 0.4);
}

.answer-btn {
  font-family: inherit;
  font-size: 0.8rem;
  border-radius: 12px;
  border-width: 0.1em;
  margin-bottom: 1em;
  padding: 1em;
  width: 90%;
}

.selected,
.correct,
.incorrect {
  border: none;
}

.selected {
  background-color: var(--answer-selected);
}

.correct {
  background-color: var(--answer-correct);
}

.incorrect {
  background-color: var(--answer-incorrect);
}

.translucent {
  opacity: 0.3;
}

.completeBtn{
  cursor: default;
}

.completeBtn:hover {
  transform: none;
}

/* Other  */

.none {
  display: none;
}

.loading-text {
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

/* Media queries */

@media (min-width: 768px) {
  html {
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  main {
    padding-block: 40px;
  }
  .select-container {
    display: flex;
    align-items: center;
  }

  .select-container label {
    width: 100px;
  }

  .container-intro-page select {
    width: 100%;
  }

  .container-quiz section {
    gap: 0px 30px;
  }
  
  .answer-btn {
    width: 45%;
  }

}