/* :root {
} */

* {
  box-sizing: border-box;
}

html,
body,
#root,
.container-intro {
  height: 100%;
}

body {
  margin: 0;
  font-family: inter, karla, sans-serif;
  color: #293264;
  background-color: #f5f7fb;
}

#root img {
  position: fixed;
}

#root button {
  cursor: pointer;
}

.top-right-blob {
  top: 0;
  right: 0;
}

.bot-left-blob {
  bottom: 0;
  left: 0;
  z-index: -10;
}

/* Intro */

.container-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-intro p {
  margin-block: 10px 30px;
}

h1 {
  font-family: karla, inter, sans-serif;
  margin-bottom: 0;
}

/* Main */

main {
  text-align: center;
  padding: 50px 90px;
}

.container-quiz {
  border-bottom: 1px solid #dbdef0;
  text-align: left;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

.score-text {
  font-weight: bold;
}

/* Answer */

.answer-btn {
  border-radius: 12px;
  border-width: 1px;
  padding: 8px 16px;
  margin-right: 15px;
}

.selected {
  background-color: #d6dbf5;
  border: none;
}

/* Components */

.quiz-btn {
  font-family: inherit;
  color: #f5f7fb;
  background-color: #4d5b9e;
  padding: 18px 60px;
  border: none;
  border-radius: 15px;
}

/*  */
