:root {
  --white: #f6f9ff;
  --primary-blue: #293264;
  --secondary-blue: #4d5b9e;
  --answer-selected: #d6dbf5;
  --answer-correct: #94d7a2;
  --answer-incorrect: #f8bcbc;
  --quizSet-border: #dbdef0;
}

* {
  box-sizing: border-box;
}

html,
body,
#root,
.container-intro-page {
  font-size: 18px;
  height: 100%;
}

body {
  margin: 0;
  font-family: inter, karla, sans-serif;
  color: var(--primary-blue);
  background-color: var(--white);
}

#root img {
  position: fixed;
}

#root button {
  cursor: pointer;
}

.top-right-blob, .bot-left-blob {
  z-index: -10;
}

.top-right-blob {
  top: 0;
  right: 0;
}

.bot-left-blob {
  bottom: 0;
  left: 0;
}

/* Intro */

.container-intro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-intro-page p {
  margin-block: 10px 30px;
}

h1 {
  font-family: karla, inter, sans-serif;
  margin-bottom: 0;
}

/* Forms */
.container-intro-page form {
  text-align: center;
}

.select-container {
  margin-block: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-intro-page select {
  font-family: inherit;
  color: var(--primary-blue);
  padding: 10px 40px 10px 5px;
  box-shadow: 3px 2px 6px rgba(0, 0, 0, 0.4);
  width: 350px;
}

.container-intro-page label {
  margin-right: 20px;
  font-weight: bold;
}

/* Main */

main {
  text-align: center;
  padding: 50px 90px;
}

.container-quiz {
  border-bottom: 1px solid var(--quizSet-border);
  text-align: left;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

.score-text {
  font-weight: bold;
}

/* Answer */

.answer-btn {
  border-radius: 12px;
  border-width: 1px;
  padding: 8px 16px;
  margin-right: 15px;
}

.selected,
.correct,
.incorrect {
  border: none;
}

.selected {
  background-color: var(--answer-selected);
}

.correct {
  background-color: var(--answer-correct);
}

.incorrect {
  background-color: var(--answer-incorrect);
}

.translucent {
  opacity: 0.3;
}

/* Components */

.quiz-btn {
  font-family: inherit;
  color: var(--white);
  background-color: var(--secondary-blue);
  padding: 18px 60px;
  border: none;
  border-radius: 15px;
}

/* Other  */

.none {
  display: none;
}

.loading-text {
  font-size: 20px;
}